<style>
    html, body {
        color: #fafafa;
        background-color: #111111;
    }

    .markdown-body img {
      background-color: transparent;
    }

    .markdown-body h1, 
    .markdown-body h2, 
    .markdown-body h3, 
    .markdown-body p {
      border-bottom-color: #333;
    }

    .highlight {
      background-color: transparent;
    }
    .markdown-body .highlight pre, .markdown-body pre {
      background-color: #333333;
      border-radius: 6px;
    }

    a, a:hover {
      color: #78f7f9;
    }
  
</style>

